/**
 * Animations
 */
@keyframes slide-in {
    from {
      left: 0;
    }
    to {
      left: 50%;
    }
  }

  @keyframes slide-back {
    from {
      left: 50%;
    }
    to {
      left: 0;
    }
  }